.introContainer {
    position: relative;
}


.companyName {
    position: absolute;
    margin: 0;
    top: .5em;
    right: 10%;
}

.introText {
    position: absolute;
    top: 3em;
    right: 10%;
    letter-spacing: .025em;
}
