.icon {
    vertical-align: -0.6em;
    margin-right: 1em;
}


@media (max-width: 1150px) {
    .icon {
        width: 28px;
        vertical-align: -0.75em;
    }
}


@media (max-width: 768px) {
    .icon {
        width: 20px;
        vertical-align: -1em;
    }
}


@media (max-width: 600px) {
    .icon {
        vertical-align: -1.25em;
    }
}
