.textContainer {
    margin-top: 5em;

}

.textHeader {
    float: left;
    margin: 1.2em 1em;
}

.toolContainer {
    text-align: right;
    margin-bottom: 7em;
}

.toolImg, .toolText {
    display: inline-block;
}
.toolImg {
    margin-right: 1.5em;
}
.toolText {
    width: 90%;
}

.section2 {
    margin: 0 -14%;

    p {
        display: inline-block;
        margin: 0 3em;
    }
}

.explainPhoto1 {
    margin-bottom: 5em;
    text-align: left;
    margin-left: -10%;
    opacity: 0;
}

.explainPhoto2 {
    text-align: right;
    margin-right: -10%;
    opacity: 0;
}

.animatePhotoRight {
    animation: photoRight 1s ease both;
}

.animatePhotoLeft {
    animation: photoLeft 1s ease both;
}



.constrImg {
    display: inline-block;
    margin: .3%;
}

.linePoint, .linePoint2 {
    display: inline-block;
    width: 10em;

}
.linePoint {
    margin-left: -19px;
    margin-bottom: 6px;
}
.linePoint2 {
    margin-right: -23px;
    margin-top: -2px;
}

.aboutText {
    margin-top: 5em;
}



@keyframes photoRight {
    100% {margin-left: 0%; opacity: 1;}
}

@keyframes photoLeft {
    100% {margin-right: 0%; opacity: 1;}
}
