.logoContainer {
    width: 300px;
    display: inline-block;
}

.logoSmallContainer {
    position: relative;
}

.hand {
    position: absolute;
    left: 18%;
    animation: turnHand 40s linear 3s infinite;
    transform-origin: 125% 50%;
    z-index: -1;
}



@keyframes turnHand {
    0% {transform: rotateZ(0deg)}
    20% {transform: rotateZ(-180deg)}
    50% {transform: rotateZ(-180deg)}
    70% {transform: rotateZ(0deg)}
}
