.logoContainer {
    width: 300px;
    display: inline-block;
}

.logoSmallContainer {
    position: relative;
}



@media (max-width: 1200px) {
    .logoContainer {
        width: 250px;
    }
}

@media (max-width: 1000px) {
    .logoContainer {
        width: 200px;
    }
}

@media (max-width: 850px) {
    .logoContainer {
        width: 150px;
    }
}

@media (max-width: 600px) {
    .logoContainer {
        width: 120px;
    }
}
