$font-header: 'Raleway', sans-serif;
$color-header: #ffffff;
$font-text: 'Quicksand', sans-serif;
$color-text: #5d6877;
$color-h3: #3d3d3d;


h1 {
  font: {
    family: $font-header;
    size: 6em;
  }
  color: $color-header;
}

h2 {
  font: {
    family: $font-header;
    size: 2.5em;
    weight: 300;
  }
  color: $color-header;
}

h3 {
  font: {
    size: 2em;
    family: 'Raleway', sans-serif;
  };
  color: $color-h3;
}

p {
  font: {
    family: $font-text;
    size: 1.5em;
  }
  color: $color-text;
  text-align: justify;
}

.sectionContainer {
  width: 60em;
  margin-left: auto;
  margin-right: auto;
  font: {
    family: 'Yantramanav', sans-serif;
  }
}
