$font-header: 'Raleway', sans-serif;
$color-header: #ffffff;
$font-text: 'Yantramanav', sans-serif;


h1 {
  font: {
    family: $font-header;
    size: 6em;
  }
  color: $color-header;
}

h2 {
  font: {
    family: $font-header;
    size: 2.5em;
    weight: 300;
  }
  color: $color-header;
}

h3 {
  font: {
    size: 2em;
  };
}

p {
  font: {
    family: $font-text;
    size: 1.3em;
  }
  color: #7e8186;
  text-align: justify;
}

.sectionContainer {
  width: 60em;
  margin-left: auto;
  margin-right: auto;
  font: {
    family: 'Yantramanav', sans-serif;
  }
}
