.steelContainer {

}

.fade-enter-active {
    transition: all 1s;
}
.fade-exit-active {
        transition: all 0s;

}

.fade-enter {
    opacity: 0;

}

.fade-enter-active {
    opacity: 1;

}

.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;

}
